.post {
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.post__header {
  display: flex;
  margin-bottom: 1rem;
}

.post__info {
  margin-left: 1rem;
}

.post__info > p {
  font-size: 1.2rem;
  color: gray;
}

.post__body {
  overflow-wrap: anywhere;
  font-size: 1.2rem;
}

.post__info > h2 {
  font-size: 1.5rem;
}

.post__buttons {
  display: flex;
  justify-content: space-evenly;
}
